<nav>
    <img src="imgs/Kleiba Logo.jpg" alt="Logo">
    <div class="nav-action">
        <a href="add">
            <button>Add Toy</button>
        </a>
    </div>
    <div class="nav-action">
        <a href="search">
            <button>Search Toy</button>
        </a>
    </div>
    <form action="/logout" method="post">
        <button>Logout</button>
    </form>
</nav>