*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    height: 100%;
}
body{
    height: 95%;
}
header{
    text-align: center;
}
/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    height: 20%;
}
nav>img{
    width:5%;
}
nav button{
    padding:0.5rem;
}

/* Login page */
.form-input{
    background-color: whitesmoke;
    box-shadow: 5px 5px 2px black;
    padding:2rem;
    border-radius: 1rem;
    width: 25%;
    text-align: center;
}
main a{
    margin-top:1rem;
}
.homepage{
    height: 100%;
}
/* Add a toy*/
main{
    height: 60%;
    padding:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    display: flex;
    flex-direction: column;
    margin:1.5rem 0;
}
.input>label{
    margin-bottom:0.5rem;
}
input{
    width:100%;
    padding:0.5rem;
}
.positive{
    color:#0F0;
}
/* search page*/
table{
    margin-top:2rem;
}
thead, thead th{
    background-color: orangered;
    padding:1rem;
}
td{
    background-color: rgb(255, 165, 133);
    padding:1rem;
    text-align: center;
}
.hidden{
    display: none;
    visibility:hidden;
}
/* icons */
.fa-solid{
    font-size:1.5rem;
    width: 1em;
    color:white;
    cursor: pointer;
}
.fa-trash-can{
    color: #EE0000;
}
.negative{
    margin-top:1rem;
    color: red;
}
.fa-xmark{
    color:red;
}
.close{
    align-items:flex-end;
    margin:0;
}
#coverup{
    height: 100vh;
    width: 100vw;
    position:fixed;
    inset: 0 0;
    z-index: 999;
    background-color: #22222266;
    display: flex;
    justify-content: center;
    align-items: center;
}
#edit-form{
    position:fixed;
    top:25%;
}

/* Delete data */
.delete-btn{
    border:none;
    background:none;
}
/* form size - responsive */
@media(max-width:1095px){
    .form-input{
        width:30%;
        min-width:15rem;
    }
}
